# this will be applied in diffdock container

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BACKEND_URL=redis://localhost:6379/0
CELERY_WORKER_QUEUE=diffdock
CELERY_WORKER_CONCURRENCY=1
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8001
MODE=celery
ENVIRONMENT=local
# weights for diffdock location
HOME=/app/DiffDock/esm/model_weights
WEIGHTS_PATH=/app/DiffDock/esm/model_weights/.cache/torch/hub/checkpoints
# use all threads to run diffdock
USE_MAX_POWER=True
# if USE_MAX_COMPUTE=False then program will use following threads count
OMP_NUM_THREADS=4
MKL_NUM_THREADS=4
MODEL1_URL=https://dl.fbaipublicfiles.com/fair-esm/models/esm2_t33_650M_UR50D.pt
MODEL2_URL=https://dl.fbaipublicfiles.com/fair-esm/regression/esm2_t33_650M_UR50D-contact-regression.pt