Flask
flask-cors
pandas
numpy
transformers
flake8
fastapi
mypy
torch==1.13.1
pydantic
flask_socketio
torchdrug==0.1.2
torchmetrics==1.2.0
rdkit
setfit
accelerate
biopython
fair-esm
requests
obonet
jax==0.4.13
jaxlib==0.4.13
ml-collections==0.1.1
dm-haiku==0.0.9
biopython==1.81
dm-tree==0.1.8
immutabledict==2.0.0
scipy==1.7.3
tensorflow==2.11.0
