Flask
pandas
numpy
transformers
torch==1.13.1
torchvision==0.14.1 
torchaudio==0.13.1
torchdrug==0.1.2
torchmetrics==1.2.0
torch-geometric==2.3.1
rdkit
setfit
git+https://github.com/bp-kelley/descriptastorus 
accelerate
biopython
fair-esm
requests
obonet

# Additional package source for custom packages
--find-links https://data.pyg.org/whl/torch-1.13.0+cpu.html
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv