// app global css in SCSS form

.grid-style-transition:hover {
  transition: transform .28s, background-color .28s;
  border-radius: 4px;
  background-color: #5c5c5c;
}

body {
  overflow-y: hidden;
}