@import './base.css';

body {
  font-family: Helvetica;
  background-color: #fff; /*#f0f0f0;*/
  font-weight: lighter;
  margin: 0px;
  width: 100%;
  height: 100% x;
}

a {
  color: #393;
}

#bio-pv-web {
  position: fixed;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

#inspector {
  top: 10px;
  left: 10px;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 8px;
  position: absolute;
  background-color: #fafafa;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  z-index: 10;
}

#inspector ul {
  padding: 0px;
}

#inspector ul li {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  list-style: none;
  cursor: pointer;
  color: #393
}

#inspector ul li:hover {
  color: #994444;
}

#inspector h1 {
  font-weight: normal;
  font-size: 12pt;
}

.border-left-line {
  border-left: 1px solid black;
}

.border-right-line {
  border-left: thick solid #ff0000;
}

.padding-top-button-group {
  margin-top: 5px;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 11px;
}

body::-webkit-scrollbar:horizontal {
  height: 11px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.localisation-image {
  width: 500px;
  height: 500px;
}

.localisation-probs {
  margin-top: 2%;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.inference-components-title {
  font-size: 25px;
}

#main canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.invisible {
  display: none;
}

.table > tbody > tr.active > td {
  background: #123456;
  color: #fff;
}

#tooltip {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.download-pdb-button {
  width: 100%;
}

.experiments-col {
  background: #f7f7f9;
  padding-right: 0;
  height: 100%;
}

.add-experiments-button {
  width: 100%;
  height: 100%;
}

.loading-wrap {
  display: none;
}

.lab-container {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px; /* Space between the lab containers */
}

.protein-container {
  width: 300px;
  height: 300px;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.protein-container-gif {
  max-width:100%;
  max-height:100%;
}

.protein-container canvas {
  position: relative !important; /* Override the absolute positioning */
  top: auto !important;
  left: auto !important;
  /* Ensure the canvas is centered within lab-container */
  margin: auto;
  border-radius: 20px;
}

.labs-flex-container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: flex-start; /* Center the items vertically */
  gap: 150px; /* Optional: adds some space between the containers */
}

#app {
  overflow-x: hidden;
}