NOLABS_ENVIRONMENT=local
NOLABS_BLAST_EMAIL=jaktenstid1@gmail.com
NOLABS_BIOBUDDY_HOST=http://127.0.0.1:5738
NOLABS_EXTERNAL_QUERY_HOST=http://127.0.0.1:5739
NOLABS_REINVENT_HOST=http://127.0.0.1:5790
NOLABS_ESMFOLD_LIGHT_HOST=http://127.0.0.1:5733
NOLABS_DIFFDOCK_HOST=http://127.0.0.1:5737
NOLABS_HOME=/home/jt/.nolabs
NOLABS_REINVENT_DIRECTORY=${NOLABS_HOME}/reinvent/jobs_configs
NOLABS_MODE=united
NOLABS_WORKFLOW_VERSION=1

# CONNECTIONS
NOLABS_CONNECTION_STRING=mongodb://127.0.0.1:27017/nolabs
NOLABS_CELERY_BROKER=redis://localhost:6379/0
NOLABS_CELERY_BACKEND=redis://localhost:6379/0
NOLABS_SOCKETIO_BROKER=redis://localhost:6379/0
NOLABS_HEARTBEAT_BROKER=redis://localhost:6379/0

# PREFECT
PREFECT_HOME=/var/prefect
PREFECT_API_DATABASE_CONNECTION_URL='sqlite+aiosqlite:///${PREFECT_HOME}/prefect.db'
PREFECT_API_DATABASE_ECHO=False
PREFECT_API_DATABASE_MIGRATE_ON_START=True
PREFECT_API_URL=http://127.0.0.1:4500/api
PREFECT_SERVER_API_HOST=127.0.0.1
PREFECT_SERVER_API_PORT=4500
PREFECT_UI_ENABLED=1

# LOGGING
# https://github.com/PrefectHQ/prefect/blob/main/src/prefect/logging/logging.yml
NOLABS_ENABLE_STRUCTURED_LOGGING=True
PREFECT_LOGGING_SERVER_LEVEL=INFO
NOLABS_LOGGING_LEVEL=INFO
PREFECT_LOGGING_LEVEL=INFO
PREFECT_LOGGING_HANDLERS_CONSOLE_FORMATTER=json
PREFECT_LOGGING_FORMATTERS_JSON_CLASS=nolabs.infrastructure.log_formatters.JsonFormatter

# UVICORN
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000