NOLABS_ENVIRONMENT=local
NOLABS_BIOBUDDY_HOST=http://127.0.0.1:5738
NOLABS_EXTERNAL_QUERY_HOST=http://127.0.0.1:5739
NOLABS_REINVENT_HOST=http://127.0.0.1:5790
NOLABS_ESMFOLD_LIGHT_HOST=http://127.0.0.1:5733
NOLABS_DIFFDOCK_HOST=http://127.0.0.1:5737
NOLABS_REINVENT_DIRECTORY=${NOLABS_HOME}/reinvent/jobs_configs
NOLABS_CELERY_WORKER_POOL=threads
NOLABS_CELERY_WORKER_CONCURRENCY=20
NOLABS_ENABLE_BIOBUDDY=false

# CONNECTIONS
NOLABS_CONNECTION_STRING=mongodb://127.0.0.1:27017/nolabs
NOLABS_REDIS_URL=redis://localhost:6379/0
NOLABS_CELERY_EAGER=False

# LOGGING
NOLABS_LOGGING_LEVEL=INFO
NOLABS_STRUCTURED_LOGGING=True

# UVICORN
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000