fastapi
uvicorn
python-json-logger
pydantic
pandas
numpy
rdkit
requests
ml-collections==0.1.1
dm-haiku==0.0.9
biopython==1.81
dm-tree==0.1.8
immutabledict==2.0.0
scipy==1.7.3
tensorflow==2.11.0
jaxlib