<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NoLabs</title>
    <script src="{{ url_for('static', filename='code.jquery.com_jquery-3.7.0.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.17.0/cytoscape.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js"></script>
    <script src="https://unpkg.com/cytoscape-dagre@2.3.2/cytoscape-dagre.js"></script>
</head>
<body>
<div id="cy" style="width: 1200px; height: 1200px;"></div>
</body>
<script>
    function main(oboData) {
        const oboGraph = oboData['obo_graph'];
        const oboGraphShaped = oboData['obo_graph_light'];

        console.log(oboData);

        const elements = [];
        for (const [key, item] of Object.entries(oboGraph)) {
            elements.push({data: {id: key}});
        }

        for (const [key, item] of Object.entries(oboGraph)) {
            for (const [linkId, _] of Object.entries(item['edges'])) {
                elements.push({data: {id: `${key}-${linkId}`, source: key, target: linkId}});
            }
        }

        //const elements = [
        //    // Nodes
        //    {data: {id: 'A'}},
        //    {data: {id: 'B'}},
        //    {data: {id: 'C'}},
//
        //    // Edges
        //    {data: {id: 'AB', source: 'A', target: 'B'}},
        //    {data: {id: 'AC', source: 'A', target: 'C'}}
        //];
        const cy = cytoscape({
            container: document.getElementById('cy'),

            elements: elements,

            style: [ // the stylesheet for the graph
                {
                    selector: 'node',
                    style: {
                        'background-color': '#666',
                        'label': 'data(id)'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'line-color': '#ccc',
                        'target-arrow-color': '#ccc',
                        'target-arrow-shape': 'triangle',
                        'curve-style': 'bezier'
                    }
                }
            ],
            layout: {
                name: 'dagre'
            }
        });
    }
    $.get('/obo-graph-data',main);
</script>
</html>